body,h3,a,p {
    padding: 0;
    margin: 0;
}

.results {
    /* width: 3rem; */
    padding: 0.5rem;
    border: 0.5px solid gray;
    border-radius: 15px;
    width: 40%;
    min-width: 320px;
    margin: 5px auto;
}
.results img {
    height: 15px;
    width: 15px;
    display: inline-block;
}
.title {
    display: inline-block;
}
.title + a {
    display: block;
}
.urlstyle {
    width: inherit;
}
.resultInput {
    /* display: flex;
    flex-direction: column; */

}
.resultInput img {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    padding-bottom: 20px;
}


/* Pagination Code Start */
.pagination {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
/* Pagination Code End */