<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/favicon.ico" />
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <div>
        <div class="menu"><a class="btn" href="#"></a></div>
        <div class="wrapper">
            <div class="duck"></div>
            <div class="search">
                <form action="search" method="get">
                    <input type="search" name="q" id="q" />
                    <input type="hidden" value="10" name="num" id="num" />
                    <input type="hidden" value="0" name="start" id="start" />
                    <input type="hidden" value="off" name="safe" id="safe" />
                    <input type="hidden" value="661804612aed641d0" name="cx" id="cx" />
                    <input type="hidden" value="1" name="filter" id="filter" />
                    <input type="hidden" value="IN" name="gl" id="gl" />
                    <input type="hidden" value="1" name="c2coff" id="c2coff" />
                    <input type="hidden" value="en" name="hl" id="hl" />
                    <input type="hidden" value="1" name="lowRange" id="lowRange" />
                    <input type="hidden" value="100" name="highRange" id="highRange" />
                    <input type="hidden" value="color" name="imgColorType" id="imgColorType" />
                    <input type="hidden" value="json" name="alt" id="alt" />
                    <!-- <input type="hidden" value="desktop" name="device" id="device" />
                    <input type="hidden" value="1" name="safesearch" id="safesearch" />
                    <input type="hidden" value="en_IN" name="locale" id="locale" />
                    <input type="hidden" value="4" name="uiv" id="uiv" /> -->
                    <button class="btn" type="submit"></button>
                </form>
            </div>
            <div class="message"><span>The search engine that doesn't track you. <a href="#">Made in
                        India</a>.</span></div>
        </div>
    </div>

</body>

</html>